.bg-cover {
    background-image: url("../images/main-bg-1.jpeg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin{
    background-color:cornsilk;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

input{
    margin-bottom: 10px;
}

img{
    max-width: 300px;
    margin: auto;
    max-height: 300px;
}