.center-me {
    display: flex;
    justify-content: center;
    padding: 45px;
    text-align: center;
}
#prof-display {
    display: block;
    width: 150px;
    margin: 10px auto;
    border-radius: 50%;
}
#uname-style {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}